body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../media/BackGround.png");
    background-size: cover;
}

.container {
    background-image: url("../media/Tablon.png");
    background-size: 100% 96%;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: -100;
}

label {
    font-size: 18px;
    font-weight: bold;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  
}

.jungle-theme {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
}

.jungle-theme:hover {
    background-color: #45a049;
}

button {
    margin: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}

button img {
    position: absolute;
    width: 50px;
    height: auto;
    margin-left: -1%;
    margin-top: -30px;
    
}
#puntos-screen {
    display: none;
}

#alias-info, #puntos-info, #mejor-tiempo-info {
    font-size: 18px;
    margin-bottom: 10px;
}