body {
    background-image: url(../media/BackGround.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

#container {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 600px;
    width: 80%;
    text-align: center;
    animation: slide-up 1s ease-in-out;
}

h1 {
    color: #333;
    margin-bottom: 30px;
    animation: blink 2s infinite;
}

.info-box {
    background-color: #9affb8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.info-box strong {
    color: #555;
    font-weight: 600;
}

.info-box p {
    color: #777;
    margin: 5px 0;
}

.bottom-left-image,
.top-right-image,
.bottom-right-image {
    position: absolute;
    animation: bounce 1s ease-in-out;
}

.bottom-left-image {
    bottom: 20px;
    left: 20px;
    width: 300px;
    height: auto;
}

.top-right-image {
    top: 20px;
    right: 20px;
    width: 200px;
    height: auto;
}

.bottom-right-image {
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: auto;
}

@keyframes slide-up {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}